    #task1#

      .brown{
      color:blueviolet;
      }
      .red{
        color:red;
      } .blue{
        color: blue;
      }
      .green{
        color:green;
      }
      
      #task2#
      .fontsize{
        font: size 18px; ;
      }
      .style{color: gray; font: size 30px; ;

      }
      .decoration{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font: size 1.5em;color:gray ;text-decoration: underline;

      }.design{
       color:blueviolet; font-size: 25px; font-style: italic;

      }





      

        
      
        
